body {
  background-color: rgb(192, 240, 213);
  color: rgb(0, 0, 0);
  width: 90%;
  margin: auto;
}

body, button {
  text-align: center;
  font-family: "Inter", sans-serif;
}

button {
  font-weight: bold;
  font-size: 16pt;
  color: rgb(51, 145, 51);

  position: absolute;
  bottom: 50%;
  left: 35%;

  mix-blend-mode: multiply;
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}
