/**
Sunny Tian
10/04/23
*/

body, header {
  background-color: rgb(214, 255, 127);
  cursor: crosshair;
}

header {
  position: sticky;
  top: 0;
  padding: 2px;
  opacity: 95%;
  width: 100%;
  align-items: center;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

body, button {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

img {
  display: block;
  height: 300px;
  width: 200px;
  border-radius: 4px;
}

article, header, #suggestions, #define {
  display: flex;
}

article {
  align-items: flex-start;
  justify-content: space-evenly;
}

article section, h2 {
  margin-bottom: 5px;
  padding-right: 40px;
}

h1, h2, h3 {
  font-family: 'Inter Tight', sans-serif;
}

h1 {
  font-size: 40px;
}

a, button {
  color: rgb(210, 75, 185);
}

a:visited {
  color: rgb(132, 141, 243);
}

iframe {
  border-radius: 12px;
  width: 50%;
  height: 152px;
  border-style: none;
}

button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

header section {
  position: relative;
  left: 20px;
}

header, footer, button {
  font-size: 12px;
}

#suggestions, #define {
  flex-wrap: wrap;
  justify-content: left;
}

.darkMode {
  background-color: rgb(50, 4, 65);
  color: rgb(230, 230, 186);
}

.spaceHeader {
  font-family: 'Space Mono', monospace;
}

.spaceBody {
  font-family: 'Space Grotesk', monospace;
}

.hidden {
  display: none;
}

.bigImg {
  width: 50%;
  height: 50%;
  /* margin-left: auto; */
  /* margin-right: auto; */
}