/**
Sunny Tian
10/04/23
*/

body{
  background-repeat: no-repeat;
  background-size: 350px;
  background-position: bottom 45px right;
  cursor: crosshair;
}
header {
  top: 0;
}

header, footer {
  width: 100%;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  font-size: 14px;
  overflow-x: hidden;
}

body, button {
  font-family: 'Inter', sans-serif;
}

body p, button {
  margin-top: 4px;
  margin-bottom: 8px;
  text-align: left;
}

img {
  display: block;
  border-radius: 4px;
}

article, header, footer, #suggestions, #define {
  display: flex;
}

article {
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
}

article section {
  margin-right: 3rem;
}

#music-tour:hover, #math-club:hover, #uxplorers:hover, #protothon:hover, button:hover, a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: rgb(221, 255, 67);
}

h1, h2, h3 {
  font-family: 'Inter Tight', sans-serif;
  margin-bottom: 8px;
}

h1 {
  font-size: 40px;
}

h2 {
  margin-top: 40px;
}

h3 {
  margin-top: 4px;
}

a, button {
  color: rgb(210, 75, 185);
  font-weight: bold;
}

a {
  text-decoration: none;
}

iframe {
  border-radius: 12px;
  width: 50%;
  height: 152px;
  border-style: none;
}

button {
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

header section {
  left: 20px;
}

header, footer, button {
  font-size: 12px;
}

footer {
  width: 95%;
  margin-right: auto;
  padding-top: 20px;
}

#suggestions, #define {
  flex-wrap: wrap;
  justify-content: left;
}

#music-tour:hover, #math-club:hover, #uxplorers:hover, #protothon:hover {
  cursor: pointer;
}

::selection {
  background-color: rgb(221, 255, 67);
}

.mint {
  color: rgb(18, 120, 113);
  background-color: mintcream;
}

.mint a, .mint button {
  color: rgb(18, 120, 113);
}

.midnight {
  background-color: rgb(45, 9, 78);
  color: rgb(255, 255, 232);
}

.midnight a, .midnight button {
  color: rgb(255, 255, 232);
}

.white {
  background-color: rgb(255, 255, 255);
}

.white a, .white button {
  color: rgb(0, 0, 0);
}

.tennis {
  background-color: rgb(221, 255, 67);
}

.tennis a, .tennis button {
  color: black;
}

.bunny {
  background-color:rgb(255, 240, 255)
}

.bunny a, .bunny button {
  color: rgb(211, 42, 110);
}

.spaceHeader {
  font-family: 'Chivo Mono', monospace;
}

.spaceBody {
  font-family: 'Chivo Mono', monospace;
}

.imgs {
  padding-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
}

.imgs img {
  width: 30%;
  height: 30%;
  padding: 10px;
}

.hidden {
  display: none;
}

.small {
  font-size: 0.8rem;
}

.tools {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.tools p {
  font-size: 0.8rem;
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.5rem;
  margin-right: 0.5rem;
  display: block;
}

.white .tools p {
  background-color: rgb(223, 249, 107);
}

.bunny .tools p {
  background-color: rgb(249, 222, 248);
}

.mint .tools p {
  color: mintcream;
  background-color: rgb(92, 158, 153);
}

.midnight .tools p {
  background-color:  rgb(255, 255, 232);
  color: rgb(45, 9, 78);
}

.tennis .tools p {
  background-color: whitesmoke;
}

.music {
  margin-top: 40px;
}

.imgFlex {
  max-width: 700px;
  margin: auto;
  width: 95%;
  height: auto;
}

.thumbnail {
  display: block;
}

.thumbnail img {
  /* object-fit: fill;
  max-height: min(100%, 100px);
  max-width: min(100%, 100px);

  padding-bottom: 0.5rem; */

  /*
  border: burlywood 2px;
  border-color: rgb(223, 249, 107);
  */

  /* width: 100%;
  height: 100%;
  object-fit: cover; */

  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  padding-bottom: 1rem;
}

#embed {
  display: inline;
}

@media (min-width: 0px) {
  article > section {
    padding-bottom: 0.5rem;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
  }

  footer p {
    display: block;
  }
}

@media (min-width: 768px) {
  article > section {
    padding-bottom: 0.5rem;
    max-width: 40%;

  }
}

@media (min-width: 992px) {
  article > section {
    max-width: 20%;
  }

  footer p {
    display: inline;
  }
}