/**
Sunny Tian
10/04/23
*/

body{
  /* background-color: rgb(243, 243, 243); */
  /* background: url("img/catdoodle.png"), rgb(245, 250, 251); */
  background-repeat: no-repeat;
  background-size: 350px;
  background-position: bottom 45px right;

  cursor: crosshair;
}
header {
  top: 0;
}

header, footer {
  width: 100%;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  font-size: 16px;
}

body, button {
  font-family: 'Inter', sans-serif;
}

body p, button {
  margin-top: 4px;
  margin-bottom: 8px;
  text-align: left;
}

img {
  display: block;
  height: 300px;
  width: 200px;
  border-radius: 4px;
}

article, header, footer, #suggestions, #define {
  display: flex;
}

article {
  align-items: flex-start;
  justify-content: space-evenly;
}

article section {
  padding-right: 40px;
}

h1, h2, h3 {
  font-family: 'Inter Tight', sans-serif;
  margin-bottom: 8px;
}

h1 {
  font-size: 40px;
}

h2 {
  margin-top: 40px;
}

h3 {
  margin-top: 4px;
}

a, button {
  color: rgb(210, 75, 185);
  font-weight: bold;
}

iframe {
  border-radius: 12px;
  width: 50%;
  height: 152px;
  border-style: none;
}

button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

header section {
  left: 20px;
}

header, footer, button {
  font-size: 12px;
}

footer {
  position: fixed;
  bottom: 0;

  width: 95%;
  margin-right: auto;
}

footer p {
  display: inline;
}

#suggestions, #define {
  flex-wrap: wrap;
  justify-content: left;
}

#music-tour:hover {
  cursor: pointer;
}

::selection {
  background-color: rgb(221, 255, 67);
}

.mint {
  /* background-color: mintcream; */
  color: rgb(18, 120, 113);
  background-color: mintcream;
}

.mint a, .mint button {
  color: rgb(18, 120, 113);
}

.midnight {
  background-color: rgb(59, 12, 103);
  color: rgb(255, 255, 232);
}

.midnight a, .midnight button {
  color: rgb(255, 255, 232);
}

.white {
  background-color: rgb(255, 255, 255);
}

.white a, .white button {
  color: rgb(0, 0, 0);
}

.tennis {
  background-color: rgb(221, 255, 67);
}

.tennis a, .tennis button {
  color: black;
}

.bunny {
  background-color:rgb(255, 240, 255)
}

.bunny a, .bunny button {
  color: rgb(211, 42, 110);
}

.spaceHeader {
  font-family: 'Space Mono', monospace;
}

.spaceBody {
  font-family: 'Space Grotesk', monospace;
}

.hidden {
  display: none;
}

.small {
  font-size: 12px;
}

.music {
  margin-top: 40px;
}

#embed {
  display: inline;
}