/** Sunny Tian */

:root {
  --white-background: whitesmoke;
  --black-text: rgb(16, 16, 16);
  --gray-text: rgb(105, 105, 105);
}

body {
  width: 100vw;
  height: 100vh;

  background-color: var(--white-background);

  font-family: 'Public Sans', 'Helvetica Neue', sans-serif;
  text-wrap: wrap;
  color: var(--black-text);
  font-size: 1.2rem;

  margin: auto;
  padding: 2rem;
}

section {
  padding-bottom: 2rem;
}

h2, h3 {
  padding-top: 0.6rem;
  padding-bottom: 0.2rem;
}

a {
  text-decoration: underline;
}

.projects {
  position: absolute;
  top: 40vh;

  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* .project-card:hover {
  cursor: pointer;
} */

.links {
  padding-top: 0.4rem;

  display: flex;
  flex-direction: row;

  color: var(--black-text);
  font-size: 1rem;

  div {
    padding-right: 1rem;
  }
}

.tags {
  font-size: 1rem;
  color: var(--gray-text);
}

.blurb {
  color: var(--gray-text);
  padding-left: 1rem;
}

.footer {
  position: fixed;
  bottom: 2rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  p {
    padding-right: 1rem;
  }
}

@media only screen and (min-width: 400px) {
  /* For mobile: */
  .project-card {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .project-card {
    width: 45%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .project-card {
    margin-right: 2rem;
  }
}