/** Sunny Tian */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* FONTS */
  --sans: 'Public Sans', sans-serif;
  --mono: 'Chivo Mono', sans-serif;

  --white-background: whitesmoke;
  --black-text: rgb(16, 16, 16);
  --gray-text: rgb(105, 105, 105);
  --orange: #FA5B33;
  --blood-orange: #FF3943;
  --tennis-ball: #CAFD5B;
  --tennis-ball-green: #C3F335;
  --sea-blue: #99DAD1;
}

@theme {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);

  --color-gray: var(--gray-text);
}

#root {
  width: 100%;
}

body {
  height: 100vh;

  display: flex;
  align-items: center;

  background-color: var(--white-background);
  font-family: var(--sans);

  text-wrap: wrap;
  color: var(--black-text);
  font-size: 1.2rem;

  margin: auto;
  padding-right: 4rem;
  padding-left: 4rem;
}

h2, h3 {
  padding-top: 0.6rem;
  padding-bottom: 0.2rem;
}

a {
  text-decoration: underline;
  font-family: var(--mono);
  transition: 0.2s;
}

a:hover {
  transition: 0.2s;
  color: blue;
}

.project-spreads {
  img {
    display: none;
  }
}

.project-spreads:hover {
  img {
    display: block;
  }
}

.project-social {
  img {
    display: none;
  }
}

.project-social:hover {
  img {
    display: block;
  }
}

.footer {
  color: var(--gray-text);
}

.links {
  padding-top: 0.4rem;

  display: flex;
  flex-direction: row;

  color: var(--black-text);
  font-size: 1rem;

  div {
    padding-right: 1rem;
  }
}

.tags {
  font-size: 1rem;
  color: var(--gray-text);
}

.blurb {
  color: var(--gray-text);
}


@media only screen and (min-width: 400px) {
  /* For mobile: */
  /* .project-card {
    width: 100%;
    margin-bottom: 1rem;
  } */
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  /* .project-card {
    width: 45%;
  } */
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  /* .project-card {
    margin-right: 2rem;
  } */
}