body {
  width: 100vh;
  height: 100vh;

  background-color: whitesmoke;
  color: darkslategray;

  font-family: 'Public Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;

  margin: auto;
  width: 100%;
  overflow-x: scroll;
  /* color: olivedrab; */
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

hr {
  border-top: 0.04rem solid darkslategray;
}

a {
  font-weight: 400;
}

a:hover {
  transition: 0.3s;
  font-weight: 600;
}

.sidebar {
  transition: 0.5s;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  .links {
    font-size: 0.9rem;
    text-align: right;
  }
}

.sidebar:hover {
  transition: 0.5s;
  background-color: rgb(200, 232, 245);

  h1 {
    transition: 0.5s;
    font-weight: 800;
  }
}

.projects:hover {
  transition: 0.5s;
  background-color: #CFFFE8;

  h2 {
    color: #12ac8d;
  }
}

.about {
  .copyright {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;

    p {
      padding-right: 1rem;
    }
  }
}

.about:hover {
  transition: 0.5s;
  background-color: #FFCFDE;

  h2 {
    color: red;
  }
}

.sidebar, .projects, .about, .project-page {
  padding: 2rem;
  /* padding-bottom: 1rem; */
}

/*
.sidebar:hover, .projects:hover, .about:hover {
  transition: 0.5s;
  padding-bottom: 2rem;
} */

.projects, .about {
  h2 {
    transition: 0.5s;
    font-size: 8rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;

    margin-bottom: 0.5rem;
  }

  img {
    transition: 0.5s;

    display: none;

    /* width: 30%; */
    margin-bottom: 1rem;
    border: 0.05rem solid darkslategray;
  }
}

.projects:hover, .about:hover {
  h2 {
    transition: 0.5s;
    font-weight: 800;
  }

  img {
    transition: 0.5s;

    /* display: block; */
    /* position: relative;

    width: 80%; */
  }
}

.project-card:hover {
  cursor: pointer;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  p {
    display: block;
    padding: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;

    border: 0.05rem solid darkslategray;
    border-radius: 10rem;
  }
}

#error-page {
  padding: 2rem;
}